BODY {font-size:12px;margin:0;padding:0;}
TD {font-size:12px;}
#stip {position:absolute;display:none;}
#logins {display:none;position:absolute;top:20px;left:20px;}
#logouts {display:none;position:absolute;top:20px;left:20px;}
